@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;
    width: 100vw;
}

body * {
    box-sizing: border-box;
}

header{
    background-color:#000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logoName{
    display: flex;
    color: white;
}

.hs{
    width: 100%;
    margin-left: 8%;
}

.corpo{
    height: 100%;
    width: 100%;
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.videos{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 4%;
color: #fff;
}
.vd{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vd > img{
    position: absolute;
    width: 8%;
    cursor: pointer;
}

.resposta{
    height: 40px;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

}

.btn_resposta_guess{
    margin-top: 0.6%;
    margin-right: 5.7%;
    position:absolute;
    font-size: xx-small;
    width: 5%;
    height: 5%;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn_resposta_skip{
    margin-top: 0.6%;
    margin-right: 0.4%;
    position:absolute;
    font-size: xx-small;
    width: 5%;
    height: 5%;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.resposta > input{
    background-color: #1d1d1d;
    width: 100%;
    height: 100%;
    margin-top: 1%;
    border: none;
    border-radius: 2px;
    color: #fff;
}

header .logo{
    position: relative;
    max-width: 80px;
}

header ul{
    position: relative;
    display: flex;
}

header li{
    list-style: none;
}

header li a{
display: inline-block;
color: #fff;
font-weight: 999;
margin-left: 40px;
text-decoration: none;
}

header li a:hover{
color: #00ff88;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #19181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {
    font-size: 3vw;
    color: #77ffc0;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #23202b;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login>h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.cadastro {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    color: #77ffc0;
}

.msg_validacao {
    color: #77ffc0;
    font-size: 60%;
    text-align: center;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        margin-bottom: 10%;
        margin-top: 0;
        width: 50vw;
    }

    .card-login {
        width: 50%;
    }

}